.App {
  text-align: center;
  background-color: #336644;
  box-shadow: 2px 2px 5px #000;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #558866;
  /* min-height: 25vh; */
  display: flex;
  text-shadow: 2px 2px 5px #336644;
  box-shadow: 2px 2px 10px #669977;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
}

.App-body {
  padding: 1.5%;
  background-color: #558866;
  min-height: 100vh;
  display: flex;
  text-shadow: 2px 2px 3px #336644;
  box-shadow: 2px 2px 10px #669977;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
